<div class="card shadow-sm h-100">
  <img
    src="{{ product.pictureUrl }}"
    alt="{{ product.name }}"
    class="img-fluid bg-info"
  />
  <div class="card-body">
    <a href="#">
      <h6 class="text-uppercase">{{ product.name }}</h6>
    </a>
    <span class="mr-4 mb-2">{{ product.price | currency }}</span>

    <div class="btn-group mt-auto">
      <button type="button" class="btn btn-outline-secondary mr-2">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        View
      </button>
    </div>
  </div>
</div>
